apiVersion: v1
kind: Pod
metadata:
  name: elasticdl-test-mnist-master
  labels:
    app: elasticdl
    elasticdl_job_name: test-mnist
spec:
  containers:
  - name: mnist-demo-container
    image: elasticdl:ci
    command: ["/bin/bash"]
    args:
    - -c
    - >
      python -m elasticdl.python.master.main
      --model_file=/elasticdl/python/examples/mnist_functional_api/mnist_functional_api.py
      --training_data_dir=/data/mnist/train
      --evaluation_data_dir=/data/mnist/test
      --records_per_task=100
      --num_epochs=2
      --grads_to_wait=2
      --minibatch_size=64
      --num_workers=2
      --checkpoint_steps=10
      --worker_image=elasticdl:ci
      --worker_resource_request="cpu=400m,memory=2048Mi"
      --worker_resource_limit="cpu=1,memory=3072Mi"
      --job_name=test-mnist
      --image_pull_policy=Never
    imagePullPolicy: Never
    resources:
      requests:
        cpu: "400m"
        memory: "1024Mi"
      limits:
        cpu: "1"
        memory: "2048Mi"
    env:
      - name: MY_POD_IP
        valueFrom:
          fieldRef:
            fieldPath: status.podIP
  restartPolicy: Never
