apiVersion: v1
kind: Pod
metadata:
  name: elasticdl-test-mnist-master
  labels:
    app: elasticdl
    elasticdl_job_name: test-mnist
spec:
  containers:
  - name: mnist-demo-container
    image: elasticdl:dev
    command: ["/bin/bash"]
    args:
    - -c
    - >
      python -m elasticdl.python.elasticdl.master.main
      --model_file=/elasticdl/python/examples/mnist_functional_api.py
      --training_data_dir=/data/mnist/train
      --evaluation_data_dir=/data/mnist/test
      --codec_type=tf_example
      --records_per_task=100
      --num_epochs=1
      --grads_to_wait=2
      --minibatch_size=64
      --num_workers=2
      --worker_image=elasticdl:dev
      --worker_resource_request="cpu=0.1,memory=100Mi"
      --job_name=test-mnist
    imagePullPolicy: Always
    env:
      - name: MY_POD_IP
        valueFrom:
          fieldRef:
            fieldPath: status.podIP
  restartPolicy: Never
