repos:
-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    - id: black
      args: [--line-length=79]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: flake8
-   repo: git://github.com/skorokithakis/pre-commit-mypy
    rev: v0.701
    hooks:
    - id: mypy
      args: [-s]
