language: minimal

install:
  - set -e
  - docker build --build-arg BUILD_ENV=no_data -t elasticdl:dev -f elasticdl/docker/Dockerfile .

stages:
#  - precommit
  - unittest

jobs:
  include:
#    - stage: precommit
#      name: "Pre-commit Check"
#      script:
#        - docker run --rm -v `pwd`/.git:/.git -v `pwd`/.pre-commit-config.yaml:/.pre-commit-config.yaml -it elasticdl:dev bash -c "pre-commit run -a"
    - stage: unittest
      name: "Unit Tests"
      script:
        - docker run --rm -it elasticdl:dev bash -c "make && K8S_TESTS=False pytest elasticdl/python/tests"
