language: minimal

dist: xenial

env:
  global:
    - MINIKUBE_WANTUPDATENOTIFICATION=false
    - MINIKUBE_WANTREPORTERRORPROMPT=false
    - MINIKUBE_HOME=$HOME
    - CHANGE_MINIKUBE_NONE_USER=true
    - KUBECONFIG=$HOME/.kube/config
    - K8S_VERSION=1.14.0
    - MINIKUBE_VERSION=1.1.1

addons:
  apt:
    packages:
      - docker-ce

install:
  - set -e
  - docker version

stages:
  - precommit
  - unittest
  - integrationtest

jobs:
  include:
    - stage: precommit
      name: "Pre-commit Check"
      script:
        - docker build -t elasticdl:dev -f elasticdl/docker/Dockerfile.dev .
        - docker run --rm -it -v $PWD:/work -w /work elasticdl:dev bash -c "pre-commit run --files $(find elasticdl/python model_zoo -name '*.py' -print0 | tr '\0' ' ')"
    - stage: unittest
      name: "Unit Tests"
      script:
        - docker build -t elasticdl:dev -f elasticdl/docker/Dockerfile.dev .
        - docker run --rm -it -v $PWD:/work -w /work elasticdl:dev bash -c "make -f elasticdl/Makefile && K8S_TESTS=False pytest elasticdl/python/tests --cov=elasticdl/python"
    - stage: integrationtest
      name: "Integration Tests"
      script:
        - curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/v$K8S_VERSION/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
        - curl -Lo minikube https://storage.googleapis.com/minikube/releases/v$MINIKUBE_VERSION/minikube-linux-amd64 && chmod +x minikube && sudo mv minikube /usr/local/bin/
        - mkdir -p $HOME/.kube $HOME/.minikube
        - touch $KUBECONFIG
        # Start minikube
        - sudo minikube start --vm-driver=none --kubernetes-version=v$K8S_VERSION --cpus 2 --memory 6144
        - "sudo chown -R travis: /home/travis/.minikube/"
        - kubectl cluster-info
        - docker build -t elasticdl:dev -f elasticdl/docker/Dockerfile.dev .
        - docker build -t elasticdl:ci -f elasticdl/docker/Dockerfile.ci .
        # Run unit tests related to k8s
        - docker run --rm -it --net=host -v $HOME/.kube:/root/.kube -v /home/$USER/.minikube/:/home/$USER/.minikube/ -v $(pwd):/work -w /work elasticdl:dev bash -c "make -f elasticdl/Makefile && K8S_TESTS=True pytest elasticdl/python/tests/k8s*.py"
        # Run integration tests
        - kubectl apply -f elasticdl/manifests/examples/elasticdl-rbac.yaml
        - docker run --rm -it --net=host -v /var/run/docker.sock:/var/run/docker.sock -v $HOME/.kube:/root/.kube -v /home/$USER/.minikube/:/home/$USER/.minikube/ -v $(pwd):/work -w /work elasticdl:ci bash -c "elasticdl/scripts/client_test.sh"
        # Validate pod statuses
        - bash elasticdl/scripts/validate_job_status.sh

# Only build on this list of branches
branches:
  only:
  - develop
