language: python

script:
  - set -e
  - docker build -t elasticdl:dev -f elasticdl/docker/Dockerfile .
  - docker run --rm -it elasticdl:dev bash -c "pre-commit run -a"
  - docker run --rm -it elasticdl:dev bash -c "make && K8S_TESTS=False pytest elasticdl/python/tests"
